body{
font-family:sans-serif;
padding:20px;
background:#f5f6fa;
}
a{
    text-decoration: none;
}
h2{
    text-align: center;
}


.container{
max-width:600px;
margin:30px auto;
border-color: black;

background:white;
border-radius:16px;
box-shadow:0 10px 25px rgba(0,0,0,0.2);


}


.grid{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:10px;
padding: 15px;
}

.cell{
aspect-ratio:16/11;
background:#f5f6fa;
border-radius:12px;
overflow:hidden;
box-shadow:0 4px 10px rgba(0,0,0,0.08);
display:flex;
align-items:center;
justify-content:center;
cursor:pointer;
position:relative;
transition:transform 0.15s, box-shadow 0.15s;
border: 1px solid #d8d8d8;
}

.cell:hover{
transform:translateY(-3px);
box-shadow:0 8px 18px rgba(0,0,0,0.12);
border: 1px solid #606060;
}


.plus{
font-size:30px;
cursor:pointer;
color:#838383;
}

.cell img{
width:100%;
height:100%;
object-fit:cover;
border-radius:12px;
}


.remove{
position:absolute;
top:1px;
right:3px;
width:27px;
height:27px;
border:none;
border-radius:50%;
background: rgba(0,0,0,0.45);
color:white;
font-weight:bold;
cursor:pointer;
}
.remove:hover{
border: 1px solid #ffffff;
}


.modal{
display:none;
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.5);
}

.modal-content{
background:white;
width:400px;
max-width:70%;
margin:100px auto;
padding:20px;
border-radius:12px;
}
.modal-header{
position:relative;
text-align:center;
margin-bottom:15px;

}

.modal-title{

font-size:18px;

font-weight:bold;

}

.closeBtn{
position:absolute;
right:0;
top:50%;
transform:translateY(-50%);
background:none;
border:none;
font-size:40px;
cursor:pointer;
color:#666;

}

.closeBtn:hover{
color:#000;
}
.searchArea{

display:flex;

justify-content:center;

margin-bottom:10px;

}

#search{
width:100%;
max-width:320px;
padding:10px;
border-radius:8px;
border:1px solid #ddd;
font-size:14px;
}
#suggestions{
    max-height:200px;
    overflow-y:auto;   
}
.suggestion{
display:flex;
align-items:center;
gap:10px;
cursor:pointer;
padding:8px 10px;
border-radius:8px;
}

.suggestion img{
width:50px;
}

.titleBox{
padding:6px;
position:absolute;
bottom:0;
left:0;
right:0;

background:linear-gradient(
transparent,
rgba(0, 0, 0, 0.8)
);

color:white;
}
.title{
font-size:14px;
font-weight: bold;
}
.tag{
font-size:13px;
font-weight:bold;
}

#previewTitle{
    display: none;
   padding: 20px 0 10px 0;
    font-family: "Zen Maru Gothic", sans-serif;
    font-weight:700;
    margin: 0;
}

#previewGrid {
   pointer-events:none;
   
}
#previewGrid .remove {
   display: none;
}

.previewbutton{
    text-align: center;
}
#previewBtn{
    border-radius:8px;
    background:#444;
    color:white;
    padding:10px 16px;
    border:none;
    font-size: 14px;
    cursor:pointer;
    margin-top: 10px;
    margin-bottom: 30px;
}

#previewBtn:hover{
    opacity: 0.8;
}

#previewGrid{
    display: none;
}

#shareArea{
display:none;
text-align:center;
margin: 50px 0;
}

#twitterBtn{
padding:10px 16px;
border:none;
border-radius:8px;
font-size:14px;
background:#1DA1F2;
color:white;
cursor:pointer;
}

#twitterBtn:hover{
opacity: 0.8;
}
/* スマホ */
@media (max-width:600px){
h2{
    font-size: 14px;
}
.grid{
    gap: 5px;
}
.title{
font-size:8px;
}

.tag{
font-size:7px;

}
.titleBox{
padding:4px;
}

}